@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject ISharedViewLocalizer SharedLocalizer

@{
    ViewData["Title"] = "Home Page";
}

@SharedLocalizer["EquipmentName"]
@Localizer["EquipmentName"]

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
