@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout_configurations.cshtml";
}



<div class="row">
                        
                        <div class="col-lg-4">
                            <div class="card border-success border-start">
                                <div class="card-body ">
                                    <div class="d-flex mb-3 align-items-center">
                                            <div class="flex-shrink-0">
                                                <img src="../assets/images/mes/designs/Real-tech-11.png" alt="" class="avatar-sm rounded-circle">
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h5 class="card-title mb-1">Redesign - Landing Page</h5>
                                                <p class="card-text mb-0">UI/UX Design</p>
                                            </div>
                                        </div>
                                    
                                    <div class="d-flex flex-wrap justify-content-evenly">
                                        <p class="card-text mb-0">
                                            <i class="mdi mdi-numeric-3-circle text-success fs-18 align-middle me-2"></i>Completed
                                        </p>
                                        <p class="card-text mb-0"><i class="mdi mdi-numeric-0-circle text-info fs-18 align-middle me-2"></i>In Progress</p>
                                        <p class="card-text mb-0"><i class="mdi mdi-numeric-8-circle text-primary fs-18 align-middle me-2"></i>To Do</p>
                                    </div>
                                </div>
                                <div class="alert alert-danger rounded-top alert-solid alert-label-icon border-0 rounded-0 m-0 d-flex align-items-center" role="alert">
                                        <i class="ri-error-warning-line label-icon"></i>
                                        <div class="flex-grow-1 text-truncate">
                                            Your free trial expired in <b>17</b> days.
                                        </div>
                                        
                                    </div><div class="progress animated-progress rounded-bottom rounded-0" style="height: 6px;display: none;">
                                    <div class="progress-bar bg-success rounded-0" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-info rounded-0" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar rounded-0" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div><!-- end col -->
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="fs-15 fw-semibold">Ecommerce App for Web</h5>
                                    <p class="text-muted">CRM Project</p>
                                    <div class="d-flex flex-wrap justify-content-evenly">
                                        <p class="text-muted mb-0">
                                            <i class="mdi mdi-numeric-10-circle text-success fs-18 align-middle me-2"></i>Completed
                                        </p>
                                        <p class="text-muted mb-0"><i class="mdi mdi-numeric-3-circle text-info fs-18 align-middle me-2"></i>In Progress</p>
                                        <p class="text-muted mb-0"><i class="mdi mdi-numeric-2-circle text-primary fs-18 align-middle me-2"></i>To Do</p>
                                    </div>
                                </div>
                                <div class="progress animated-progress rounded-bottom rounded-0" style="height: 6px;">
                                    <div class="progress-bar bg-success rounded-0" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-info rounded-0" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar rounded-0" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div><!-- end col -->
                    </div>



<style type="text/css">

    .border-start {    
    border-left-width: 9px !important;
}

.alert-label-icon {
    min-height: 45px !important;
}

</style>
