<!DOCTYPE html>
<html lang="en" data-layout="vertical"
      data-topbar="light"
      data-sidebar="dark"
      data-sidebar-size="lg"
      data-sidebar-image="none"
      data-preloader="disable"
      data-theme="default"
      data-theme-colors="default">
<head>
    <meta charset="utf-8" />
    <title>Starter | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin & Dashboard Template"
          name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Layout config Js -->
    <script src="~/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css"
          rel="stylesheet"
          type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Begin page -->
    <div id="layout-wrapper">

        @Html.Partial("configuration/header")

        @Html.Partial("configuration/left")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">


            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                                <h4 class="mb-sm-0">Starter</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item">
                                            <a href="javascript: void(0);">Pages</a>
                                        </li>
                                        <li class="breadcrumb-item active">Starter</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    @RenderBody()

                    <!-- end page title -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <!-- JAVASCRIPT -->
            <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
            <script src="~/assets/libs/node-waves/waves.min.js"></script>
            <script src="~/assets/libs/feather-icons/feather.min.js"></script>
            <script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
            <script src="~/assets/js/plugins.js"></script>


            @Html.Partial("configuration/footer")

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <button onclick="topFunction()"
            class="btn btn-danger btn-icon"
            id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@


    <!-- App js -->
    <script src="assets/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
